 {
paading:14px 20px;
text-decoration:none;
text-align:center;
flex-grow:1;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
flex:30px;
background-color:beige;
padding:20px;
}

section{
 flex:70px;
 background-color:beige;
padding:20px;
display:flex;
flex-wrap:wrap;
align-content:flex-start;
}

.flex-item{
flex-basts:100px;
flex-grow:2;
text-align:center;
}

footer{
padding:20px;
text-align:center;
background-color:beige;
}

@media screen and(max-width:450px){
nav, .row{
 flex-direction: column;
      }
}

figcaption{
  display:none;
  transition:all .5s;
    
}

div:hover > figcaption{
  display: block;
  transition:all .5s;
}

*{
  box-sizing:border-box;
}

body{
font-family: arial, helvetica, sans-serif;
margen:0;
padding:0;
}

header{
 padding:50px;
 background-color:black;  
 text-align:center;
}

nav{
display:flex;
flex-direction:row;
background-color:purple;
}

nav a{
 color:white;
 padding:14px 20px
 text-conection:none;
 text-align:center;
 flex-grow:1;
}
